@import "vendor/bootstrap/bootstrap.less";
@import "vendor/font-awesome/font-awesome.less";
@import "vendor/bootstrap-social.less";
@import "./theme.less";

* {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

iframe {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  // font-variant: small-caps;
}

/* No blue outline */
.no_outline {
  outline: none !important;
  outline-style: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  .no_outline;
}
textarea {
  .no_outline;
}

.section_margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.section_margin_bottom {
  margin-bottom: 1em !important;
}

.small_header_margin {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.small_header_margin {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.small_header_padding {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.no_top_margin {
  margin-top: 0em;
}
.no_bottom_margin {
  margin-bottom: 0em;
}
.no_v_margin {
  margin-top: 0em;
  margin-bottom: 0em;
}

.icon_lg {
  .fa-lg
}
.icon_2x {
  .fa-2x
}
.icon_3x {
  .fa-3x
}
.icon_4x {
  .fa-4x
}
.icon_5x {
  .fa-5x
}

a {
  cursor: pointer;
}

.font_size_1 {
  font-size: 1em;
}
.font_size_2 {
  font-size: 1.1em;
}
.font_size_3 {
  font-size: 1.25em;
}
.font_size_4 {
  font-size: 1.4em;
}
.font_size_5 {
  font-size: 1.55em;
}
.font_size_6 {
  font-size: 1.7em;
}

.font_monospace {
  font-family: monospace;
}

.strong {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.inline_block {
  display: inline-block;
}

.flat_top {
  .border-top-radius(0);
}
.flat_bottom {
  .border-bottom-radius(0);
}

.clear_float {
  clear: both;
}

.notab-content {
  border: 1px solid #ddd;
  padding: 0.5em;
  margin-bottom: 1em;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 0.5em;
  margin-bottom: 1em;
}

.font_size_smaller {
  font-size: 0.6em;
}
.font_size_small {
  font-size: 0.8em;
}

.font_size_large {
  font-size: 1.2em;
}
.font_size_larger {
  font-size: 1.5em;
}

.dblock {
  display: block !important;
}
.dinline_block {
  display: inline-block !important;
}

.vtop {
  vertical-align: top !important;
}

.vsuper {
  vertical-align: super !important;
}

/* =============================================================================
   Printing
   ========================================================================== */
.page_break_avoid {
  page-break-inside:avoid;
}

.page_break_before {
  page-break-after:always;
}

.page_break_after {
  page-break-after:always;
}

@media all {
	.only_print	{ display: none; }
}

@media print {
	.dont_print	{ display: none; }
}

/* =============================================================================
   Custom 'shapes'
   ========================================================================== */

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius 0px @border-radius @border-radius;
}

.well {
  border-radius: @border-radius-base 0px @border-radius-base @border-radius-base;
}

/* =============================================================================
   Banner
   ========================================================================== */
#banner-container {
  /* margin-bottom: 60px; */ /* When fixed header */
}
.navbar {
  border-radius: 0 !important;
  min-height: 0 !important;
  margin-bottom: 0 !important;
}
.navbar-brand {
  font-size: 28px !important;
  font-weight: 700 !important;
  margin-top: -5px !important;
}
.navbar-brand-logo {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
  width: 55px !important;
  height: 55px !important;
  margin-top: -12px !important;
}
.navbar-brand-logo-alpha {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
  width: 110px !important;
  height: 55px !important;
  margin-top: -12px !important;
}

.navbar-main-items-container .active a {
  color: @navbar-inverse-color !important;
}

.navbar-main-item-home a {
  color: #ff0000 !important;
}
.navbar-main-item-hello a {
  color: #00a9ff !important;
}

.navbar a:hover {
  color: #dfdfdf !important;
}

.navbar .active {
  border-top: 1px solid @body-bg;
  border-bottom: 1px solid @body-bg;
  @media (min-width: @grid-float-breakpoint) {
    border: 0;
  }
}

.navbar .active:after {
  @media (min-width: @grid-float-breakpoint) {
    color: @body-bg;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
  }
}


/* =============================================================================
   Flash messages
   ========================================================================== */
#flash-container {
}

.flash-message {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 6px 10px;
  padding-right: 30px;
  border-radius: 2px;
  text-align: center;
}
.flash-message-transition-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}
.flash-message-transition-leave.flash-message-transition-leave-active {
  opacity: 0.01;
}
.flash-message-enter, .flash-message-transition-appear {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}
.flash-message-enter.flash-message-enter-active, .flash-message-transition-appear.flash-message-transition-appear-active {
  opacity: 1;
}

.notify-message {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 6px 10px;
  padding-right: 30px;
  border-radius: 2px;
  text-align: center;
}
.notify-message-transition-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.notify-message-transition-leave.notify-message-transition-leave-active {
  opacity: 0.01;
}
.notify-message-enter, .notify-message-transition-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
.notify-message-enter.notify-message-enter-active, .notify-message-transition-appear.notify-message-transition-appear-active {
  opacity: 1;
}

/* =============================================================================
   Footer
   ========================================================================== */
#footer-all {
}
#footer {
  color: @navbar-inverse-color;
  background-color: @navbar-inverse-bg;
  margin: 0;
  padding-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  width: 100% !important;
  height: 60px;
  font-size: 12px;
}
#footer .container {
}
#footer img {
  float: left;
}
#footer p {
  margin: 6px;
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}
#footer a {
  color: #bbb;
  text-decoration: none;
}
#footer a:hover {
  color: #ddd;
}
#footer .logo {
  padding: 0;
}
#footer-left {
  float: left;
  margin-left: 0.25em;
}
#footer-right {
  float: right;
  margin-right: 0.25em;
}

/* =============================================================================
   Dock Footer at the bottom
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
}
#footer-all {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /* 1em of 'margin' above the footer - NOPE! will introduce a scrollbar */
  /* padding-top: 1em; */
}

/* =============================================================================
   Packages
   ========================================================================== */
.gaea-package-thumbnails {
}

.gaea-package-thumbnail {
  .panel;
  .panel-body;
  .panel-variant(@panel-default-border; @panel-default-text; @panel-default-heading-bg; @panel-default-border);
  margin-right: 0.5em;
  display: inline-block;
  max-width: 372px;
}

.gaea-package-thumbnail img {
  width: 342px;
  max-width: 100%;
  margin-bottom: 0.2em;
}
.gaea-package-title {
  .panel-title;
  font-weight: bold;
}
.gaea-package-author-date {
  font-size: 11pt;
}

.gaea-license-info {
  .panel;
  .panel-body;
  .panel-variant(@panel-default-border; @panel-default-text; @panel-default-heading-bg; @panel-default-border);
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: block;
}

.panel {
  border-top-right-radius: 0px;
}

/* =============================================================================
   Player and video container
   ========================================================================== */
.player-container iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 0) {
  .res720p {
    width: 320px;
    height: 180px;
  }
  .player-container {
    max-width: 100%;
    width: 320px;
    height: 180px;
  }
  .player-container-width {
    max-width: 100%;
    width: 320px;
  }
}
@media only screen and (min-width: 480px) and (min-height: 240px) {
  .res720p {
    width: 468px;
    height: 180px;
  }
  .player-container {
    max-width: 100%;
    width: 468px;
    height: 264px;
  }
  .player-container-width {
    max-width: 100%;
    width: 468px;
  }
}
@media only screen and (min-width: 760px) and (min-height: 410px) {
  .res720p {
    width: 720px;
    height: 406px;
  }
  .player-container {
    width: 720px;
    height: 406px;
  }
  .player-container-width {
    width: 720px;
  }
}
@media only screen and (min-width: 1024px) and (min-height: 450px) {
  .res720p {
    width: 974px;
    height: 548px;
  }
  .player-container {
    width: 800px;
    height: 450px;
  }
  .player-container-width {
    width: 800px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 610px) {
  .res720p {
    width: 1080px;
    height: 608px;
  }
  .player-container {
    width: 1080px;
    height: 610px;
  }
  .player-container-width {
    width: 1080px;
  }
}
@media only screen and (min-width: 1600px) and (min-height: 720px) {
  .res720p {
    width: 1280px;
    height: 720px;
  }
  .player-container {
    width: 1280px;
    height: 720px;
  }
  .player-container-width {
    width: 1280px;
  }
}
