<% var PAGE_title = "Tools" %>
<% include tpl_header.html.ejs %>
<style>
 .button {
   display: inline-block;
   margin-bottom: 0.5em;
 }
</style>

<div class="container content font_size_3">

  <% if (true || checkSessionACL("dev")) { %>
  <h2>Development</h2>
  <div class="container">
    <div class='group'><ul>
      <li><a href="/tools/logs/list">
        Raw Logs
      </a></li>
    </ul></div>

    <h3>appConfig</h3>
    <pre><%= NI.format("%J", NI.sortObjectKeys(global.getAppConfig())) %></pre>

    <h3>sqlConfig</h3>
    <pre><%= NI.format("%J", NI.sortObjectKeys(global.sqlConfig)) %></pre>

    <h3>process.env</h3>
    <pre><%= NI.format("%J", NI.sortObjectKeys(process.env)) %></pre>

    <h3>page routes</h3>
    <div class='group min_hz_padding'><ul>
      <% NI.forEach(NI.objectKeys(global._routes_page).sort(),function(key) { %>
        <li><a href='<%= key %>'><%= key %></a> (<%= global._routes_page[key] %>) </li>
      <% }); %>
    </ul></div>

    <h3>get routes</h3>
    <div class='group'><ul>
      <% NI.forEach(NI.objectKeys(global._routes_get).sort(),function(key) { %>
        <li><a href='<%= key %>' ><%= key %></a></li>
      <% }); %>
    </ul></div>

    <h3>post routes</h3>
    <div class='group'><ul>
      <% NI.forEach(NI.objectKeys(global._routes_post).sort(),function(key) { %>
        <li><a href='<%= key %>' ><%= key %></a></li>
      <% }); %>
    </ul></div>
  </div>
  <% } %>

</div>

<% include tpl_footer.html.ejs %>
