<%
var PAGE_title = component.title;
var PAGE_react = component;
%>
<% include tpl_header.html.ejs %>

<div class="container content">
  <div id="react-container">
    <%-
      PAGE_react.serverSide ?
        renderComponentToString(PAGE_react.className, params) :
      ''
    %>
  </div>
</div>

<% include tpl_footer.html.ejs %>
