<%
var PAGE_title = "Home";
%>
<% include tpl_header.html.ejs %>

<div class="container">
  <h1>Route Template</h1>
  <% if (checkSessionACL("regular")) { %>
    <p>Hello <%= session.user_name %>!</p>
  <% } %>
  <a href="/admin/index">Admin Panel</a>
</div>

<% include tpl_footer.html.ejs %>
