<% var PAGE_title = "Error " + status; %>
<% include tpl_header.html.ejs %>

<section id="Content" class="content-top-margin content">
  <div class="container">
    <h1><%= status %> - <%= error %> <span data-frown>:(</span></h1>
    <% if (typeof(desc) == "undefined" || desc == "UndefinedError") { %>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <p>It looks like this was the result of either:</p>
      <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>
    <% } else { %>
      <pre><%= desc %></pre>
    <% } %>
    <p>
      <a class="button" href="/">Go back to the home page.</a>
    </p>
  </div>
</section>

<% include tpl_footer.html.ejs %>
