<%
if (typeof(PAGE_title) === "undefined") {
  PAGE_title = APP_NAME;
}
if (typeof(PAGE_title) === "string") {
  var title = PAGE_title;
  PAGE_title = {
    html: title,
    text: title
  };
}
%>
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <title><%= PAGE_title.text %></title>
    <meta name="description" content="<%= PAGE_title.text %>"></meta>
    <meta name="author" content="{{=APP_COPYRIGHT}}"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1"></meta>
  </head>

  <link rel="stylesheet" href="/build/common.css"></link>
  <script src="/build/common.js"></script>

  <body>

    <!-- container for the navbar -->
    <div id="banner-all" class="group"><div id="banner-container">
    </div></div>
    <div class="clearfix section_margin_bottom"></div>

    <!-- container for flash messages -->
    <div id='flash-container' class='container'></div>
    <!-- Prepare the session variable -->
    <script>
      window.SESSION_DATA = <%- JSON.stringify(session) %>;
    </script>

    <!-- Prepare the react parameters -->
    <%
    params = NI.assignClone(params,
      (typeof(PAGE_react) === "object") ? PAGE_react.props : undefined,
      {
        title: PAGE_title.text,
        sessionUser: session.user_name || "",
        sessionUserACL: session.user_acl || {},
        sessionViews: session.views,
      })
    %>

    <% if (!NI.stringStartsWith(url,'/mob/')) { %>
    <!-- NavBar -->
    <script>
     renderReactComponent(
       document.getElementById('banner-container'),
       "Navigation",
       <%- JSON.stringify(params) %>
     );
    </script>
    <% } %>

    <!-- Flash Messages -->
    <script>
     <%
     session.flash = session.flash || {};
     %>
     renderReactComponent(
       document.getElementById('flash-container'),
       "FlashMessage", { isMain: true, flash: <%- JSON.stringify(session.flash) %> }
     );
     <%
     session.flash = {};
     %>
    </script>
