<!-- The main react component, client side -->
<%if ((typeof(PAGE_react) === "object") && (PAGE_react.clientSide)) {%>
<script>
 renderReactComponent(
   document.getElementById('react-container'),
   "<%- PAGE_react.className %>",
   <%- JSON.stringify(params) %>);
</script>
<%}%>

<% if (!NI.stringStartsWith(url,'/mob/')) { %>
<!-- footer -->
<div class="clearfix section_margin_top"></div>
<div id="footer-all" class="group navbar navbar-default">
  <div id="footer">
    <div class='container'>
      <% if (global.isDev) { %>
      <div id='footer-left'>
        <% if (checkSessionACL()) { %>
          LOGGED IN
        <% } else { %>
          NOT SIGNED IN
        <% } %> -
        <%- JSON.stringify(session) %>
      </div>
      <% } %>
      <div id='footer-right'>
        <%= APP_COPYRIGHT %>
      </div>
    </div>
  </div>
</div>
<% } %>

<!-- Disable mobile zoom on input fields -->
<script>
 var $viewportMeta = $('meta[name="viewport"]');
 $('input, select, textarea').bind('focus blur', function(event) {
   $viewportMeta.attr('content', 'width=device-width,initial-scale=1,maximum-scale=' + (event.type == 'blur' ? 10 : 1));
 });
</script>

<% include analytics.html.ejs %>

</body>
</html>
